/*
* Basic Defaults
*
*/

$unit: 8px;
$font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Lucida Grande", sans-serif;


/*
* Z Indexes
*
*/

$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;

$z-max-1: 1000;
$z-max-2: 2000;
$z-max-3: 3000;
$z-max-4: 4000;
$z-max-5: 5000;
$page-content-width-1: 1200px;


/*
* Standard Colors
*
*/

$color-dark: #455A64;
$color-light: #FFF;
$color-darkest: #000;

$color-subtle: rgba(#EDF0F2, .56);
$color-subtle-2: #EDF0F2;
$color-primary: #375275;
$color-secondary: #78919D;
$color-accent: #F2673A;
$color-notice: #039BE5;
$color-success: #00BFA5;
$color-success-dark: #007B6F;

/*
* Brand Colors
*
*/

$color-brand-dark: #0C1D31;




$color-midnight-1: #0C1D31;
$color-midnight-2: #4A709D;
$color-midnight-3: #0C1D31;
